.table-responsive .table {
    width: 100%;
}

.table-responsive .table tr td {
    padding: 5px;
}

.table-responsive .table tr td ul {
    padding: 0px;
    margin: 0px;
}

.table-responsive .table tr td ul li a {
    cursor: pointer;
    background: #d83f87;
    padding: 3px;
    display: inline-block;
    width: 60px;
    text-align: center;
    color: #fff;
    text-decoration: none;
}

.table-responsive .table tr td ul li a.trash {
    background: #ff4545;
}